{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h1>Enter new password</h1>

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <br>

            <form method="POST" action="">
                {% csrf_token %}
                
                {{ form.as_p }}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}